.modifyForm{
    &:focus{
        border-style : none;
    }

    &--textarea{
        border-style : none;
        background : $background-color;
        font-family: roboto-light;
        height : auto;
        resize: none;

        &:focus{
            outline-style: dotted;
            outline-width: 2px;
            outline-color : $primary-color;
        }
    }
}

.move{
    height : 20px;
    width : 20px;
    background: $primary-color;
}

@for $i from 1 through 1000{

    #li_#{$i} {
        display: flex;
    }

    #type_#{$i} {
        height : 20px;
        width : 20px;
        background: $primary-color;
    }

    #pos_#{$i} {
       
    }
}

textarea{
    width : 100%;
    border-style : none;
    background : white;
    font-family: roboto-light;
    height : auto;
    resize: none;
}
